<div class="container-fluid">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <div class="wrapper">
                <img [src]="images[0]" alt="Sylt way" style="width: 100%;">
            </div>
            <div class="carousel-caption">
                <h1>Welcome to souti.ch</h1>
                <p></p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper">
                <img [src]="images[1]" alt="Sylt sea" style="width: 100%;">
            </div>
            <div class="carousel-caption">
                <h1>Welcome to souti.ch</h1>
                <p></p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="wrapper">
                <img [src]="images[2]" alt="nationalparc" style="width: 100%;">
            </div>
            <div class="carousel-caption">
                <h1>Welcome to souti.ch</h1>
                <p></p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>